@using LoginReg.Models
@model Wedding

<h1>Plan Your wedding </h1>
<a href="/" >LogOff |</a>

<a href="dashboard">Dashboard</a>

<form  action="addWedding"  method="POST">
  
    
    <br><br>

    Wedder One <input type="text" name="Wedder1">
   
<br><br>
      
    Wedder Two <input type="text" name="Wedder2">
<br><br>
     
    Date <input type="date" name="Date">
    
<br><br>
    
     
Wedding Address <input type="text" name="Wedding_Address">


    
<br><br>
    <input type="submit" value="Register">
    
</form>