@using LoginReg.Models
@model User


<h1>Login Registration</h1>
<h2>Register</h2>
<form  asp-action="create" asp-controller="Home" method="POST">
  <span asp-validation-for="First_Name"></span>
    <label asp-for="First_Name">First Name: <input type="text" name="First_Name">
    </label>

      <span asp-validation-for="Last_Name"></span>
    <label asp-for="Last_Name">Last Name: <input type="text" name="Last_Name">
    </label>

     <span asp-validation-for="Email"></span>
    <label asp-for="Email">Email: <input type="email" name="Email">
    </label>

    
     <span asp-validation-for="Password"></span>
    <label asp-for="Password">Password: <input type="password" name="Password">
    </label>

    <span asp-validation-for="Confirm_Password"></span>
    <label asp-for="Confirm_Password">Repeat Password: <input type="password" name="Confirm_Password">
    </label>
<br>
    <input type="submit" value="Register">

</form>

<a href="Registerd">Already Registerd?</a>

