@using LoginReg.Models
@model User


<h1>@ViewBag.wed.Wedding_Names Wedding</h1>
<a href="/" >LogOff |</a>

<a href="dashboard">Dashboard</a>

<h3>Date: @ViewBag.wed.Date.ToString("MMM  dd,yyyy")</h3>

<h3>Guests</h3>
<p>_______________________________________________________</p>


@foreach(var v in ViewBag.vis){
    <p>@v.User.First_Name</p>
}